<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h2 id="name">{{ repo.name }} </h2>
            <h5 id="descr">{{ repo.description }}</h5>
            <br>
            <i id="star" class="fa fa-circle" aria-hidden="true"></i>{{ repo.language }}
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-2">
            <button class="btn btn-light">
                <i  class="fa fa-star" style="padding-right: 5px;" aria-hidden="true"></i>Star 
            </button>
        </div>
    </div>
</div>
<hr>